@font-face {
    font-family: "Editorial New";
    src: url(assets/PPEditorialNew-Regular.woff2), url(assets/PPEditorialNew-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Editorial New";
    src: url(assets/PPEditorialNew-Italic.woff2), url(assets/PPEditorialNew-Italic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Garaje";
    src: url(assets/Garaje\ 53\ Uni\ Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: "News Gothic";
    src: url(assets/NewsGothicStd.otf);
    font-weight: 400;
}

html {
    --main-bkg: #F5F4EC;
    --yellow: #F3D747;
    --teal-text: #008E70;
    --red: #CB1231;
    --purple-text: #BF79F5;
    --blue: #215DA6;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     

}

body{
    font-family: "Editorial New";
    font-size: 18px;
    line-height: 1.3;
    background-color: #F8FCF2;
    position: relative;
}

.text-container pre {
    font-family: "Editorial New";
    font-size: 18px;
    line-height: 1.3;  
}

main {
    background-color: var(--main-bkg);

    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    height: 100vh;
    width: calc(.657* 100vh);
    position: fixed;
    box-shadow: 10px 10px 15px rgba(0,0,0, .1);
    min-width: 670px;
    min-height: 980px;
}

.text-container {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    /* background-color: aliceblue; */
}

.text-container:nth-child(odd){
    color: var(--purple-text);
}

.text-container:nth-child(even){
    color: var(--teal-text);
}

.text-container:nth-child(2){
    transform: rotate(1deg);
}

.text-container:nth-child(4){
    transform: rotate(-1deg);
}

.text-container:nth-child(5){
    transform: rotate(1deg);
}

div.shape-container{
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    margin-top: 24px;
}

div.red-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red);
}

div.yellow-square {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: var(--yellow);
}

div.blue-line {
    width: 64px;
    height: 4px;
    transform: rotate(-5deg);
    background-color: var(--blue);
}

.text-container:first-child .shape-container {
    transform: rotate(5deg);
}


.text-container:nth-child(2) .shape-container {
    transform: rotate(-2deg);
}

.text-container:nth-child(5) .shape-container {
    transform: rotate(2deg);
}

.shape-container:nth-child(odd) {
    background-color: red;
}


.wrapper1 {
    width: 100%;
    height: 100%;
    background: url(assets/grid-bkg2.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

div.gradient{
    width: 100%;
    height: 86px;
    position: absolute;
}

div.gradient-top {
    background-image: linear-gradient(180deg, rgba(232, 203, 221, 1), rgba(232, 203, 221, 0));
    top: 0;
    left: 0;
}

div.gradient-bottom {
    background-image: linear-gradient(0deg, rgba(236, 230, 104, 1), rgba(232, 203, 221, 0));
    bottom: 0;
    left: 0;
}

.wrapper2 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: "Garaje";
    color: var(--yellow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--teal-text);


}

.wrapper2 h1 {
    position: absolute;
}

.wrapper2 h1 pre {
    font-family: "Garaje";
    letter-spacing: 1rem;
}

.wrapper2 h1:nth-child(2){
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper2 h1:nth-child(3){
    bottom: 24px;
    left: 40px;
}

.italic {
    font-family: "Editorial New";
    font-style: italic;
}

.sans {
    font-family: "News Gothic";
    font-size: 16px;
    letter-spacing: .07em;
}

.spacer {
    height: 100vh;
}

.spacer2 {
    height: 30vh;
}

.little-things {
    width: 64px;
    display: block;
    position: relative;
    
}


.little-things:nth-of-type(1){
    left: calc(.657* 100vh);
}

.little-things:nth-of-type(2){
    left: calc(1.2* 100vh);
}

.little-things:nth-of-type(3){
    left: calc(1.7* 100vh);
}

.little-things:nth-of-type(4){
    left: calc(1.3* 100vh);
}

.little-things:nth-of-type(5){
    left: calc(.4* 100vh);
}

.little-things:nth-of-type(6){
    left: calc(.75* 100vh);
}

.little-things:nth-of-type(7){
    left: calc(1* 100vh);
}

/* .cat {
    left: calc(.657* 100vh);
}

.skull {
    left: calc(1.2* 100vh);
}

.snake {
    left: calc(1.7* 100vh);
} */

@media(min-height: 1050px){
    .text-container pre {
        font-size: 20px;
        line-height: 1.3;  
    }}
    
@media(min-height: 1250px){
    .text-container pre {
        font-size: 24px;
        line-height: 1.3;  
    }

    .sans {
        font-size: 21px;
        letter-spacing: .07em;
    }

    .wrapper2 h1 pre {
        font-size: 45px;
    }
    
}